<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body class="body-allProducts">
        <main class="allusers-container">
            <%- include('../partials/adminNav.ejs') %>
                <div class="container-card">
                    <% for (let i=0; i < products.length; i++) { %>
                        <div class="card admin-card">
                            <div class="card-overlay"></div>
                            <img class="card-img img-index" src="<%= `/img/productImage/${products[i].image}` %>"
                                alt="">
                            <div class="card-content admin-content">
                                <div class="card-info-title">
                                    <h4>
                                        <%= products[i].name %>
                                    </h4>
                                </div>
                                <div class="card-info-description">
                                    <h4>Description: <%= products[i].description %>
                                    </h4>
                                </div>
                                <div class="card-info">
                                    <h4>Origin: <%= products[i].origin %>
                                    </h4>
                                </div>
                                <div class="card-info">
                                    <h4>Destination: <%= products[i].destination %>
                                    </h4>
                                </div>
                                <div class="card-info">
                                    <h4>Person include: <%= products[i].person %>
                                    </h4>
                                </div>
                                <div class="card-info">
                                    <h4>Date: <%= products[i].date %>
                                    </h4>
                                </div>
                                <div class="card-info">
                                    <h4>Price: $ <%= products[i].price %>
                                    </h4>
                                </div>
                                <div class="card-info">
                                    <h4>Category: <%= products[i].category_id %>
                                    </h4>
                                </div>
                                <div class="cb-container btn1">
                                    <div class="button" id="button-2">
                                        <div id="slide"></div>
                                        <a href="/product/<%= products[i].id %>/edit">EDIT VALUES</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
        </main>
    </body>

</html>