<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body class="body-allProducts">
        <main>
            <h2 class="titulo-h2">List of Products</h2>
            <ul>
                <% for(let i=0; i< products.length; i++) {%>
                    <li>
                        <article class="card-allProducts">
                            <a href="/product/<%= products[i].id %>">
                                <img src="<%= `/img/productImage/${products[i].image}` %>">
                                <p>
                                    <h4 class="h4-allProducts"> <span class="span-allProducts">Nombre:</span> <%= products[i].name %>
                                    </h4>
                                    <h4 class="h4-allProducts"> <span class="span-allProducts">Descripción:</span> "<%= products[i].description %>"
                                    </h4>
                                    <h4 class="h4-allProducts"> <span class="span-allProducts">Origen:</span> <%= products[i].origin %>
                                    </h4>
                                    <h4 class="h4-allProducts"> <span class="span-allProducts">Destino:</span> <%= products[i].destination %>
                                    </h4>
                                    <h4 class="h4-allProducts"> <span class="span-allProducts">Personas:</span> <%= products[i].person %>
                                    </h4>
                                    <h4 class="h4-allProducts"> <span class="span-allProducts">Fecha: </span> <%= products[i].date %>
                                    </h4>
                                    <h4 class="h4-allProducts"> <span class="span-allProducts">Precio:</span> <%= products[i].price %> USD
                                    </h4>
                                    <h4 class="h4-allProducts"> <span class="span-allProducts">Categoria:</span> <%= products[i].category_id %>
                                    </h4>
                                </p>
                            </a>
                            <div class="contenedor-button">
                                <button class="button-allProducts">
                                    <a class="letra-button" href="/product/<%= products[i].id %>">Ver detalle</a>
                                </button>
                            </div>
                        </article>
                    </li>
                <%}%>
            </ul>
        </main>
    </body>

</html>