<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
    <body class="index-body">
        <%- include("../partials/header.ejs") %>
            <main class="main-index">
                <div class="div-fondo">
                <h2 class="titulo-index">Encontrá tu escencia...</h2>
                <div class="container-plus">
                <div class="container-index">
                    <div class="box-index">
                        <img class="img-index" src="img/productImage/img17.jpg">
                    </div>
                    <div class="box-index">
                        <img class="img-index" src="img/productImage/img13.jpg">
                    </div>
                    <div class="box-index">
                        <img class="img-index" src="img/productImage/img3.jpg">
                    </div>
                </div>
            </div>
                <h2 class="titulo-index">...y elegí tu destino</h2>
            
                <div class="container-card">
                    <% for (let i=0; i < 9; i++) { %>
                        <div class="card-index">
                            <figure>
                                <img class="img-index" src="<%= `/img/productImage/${products[i].image}` %>">
                            </figure>
                            <div class="contenido-card">
                                <h3>
                                    <%= products[i].name %>
                                </h3>
                                <p>
                                    <%= products[i].description %>
                                </p>
                                <a href="#">Comprar</a>
                            </div>
                        </div>
                        <% } %>
                </div>
                
            </div>
                <a href="https://api.whatsapp.com/send?phone=+51987654321" class="btn-wsp" target="_blank">
                    <i class="fa fa-whatsapp icono"></i>
                </a>
                <div class="wrapper">
                    <img class="img-index" src="img/productImage/img21.jpg">
                    <div class="overlay">
                        <div class="content">
                            <p class="parrafo-index-final">"Un lugar nunca es solo ese lugar: ese lugar también se parece un poco
                                a nosotros. De alguna manera, sin saberlo, lo llevamos adentro y un día, por
                                casualidad, llegamos allí."
                            </p>
                                <p class="linea-index-final">(Antonio Tabucchi).</p>
                               
                                <p class="linea-index-final">DH TRAVEL</p>
                                
                            </div>
                    </div>
                </div>
            </main>
    </body>
    <%- include("../partials/footer.ejs") %>

</html>