<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body class="index-body">
        <% if (user && user.category===1) { %>
            <%- include("../partials/adminNav.ejs") %>
                <% } else { %>
                    <%- include("../partials/header.ejs") %>
                        <% } %>
                            <main class="main-index">
                                <div class="div-fondo">
                                    <!-- <h2 class="titulo-index">Encontrá tu escencia...</h2>  -->
                                    <div class="container-plus">
                                        <div class="container-index">
                                            <div class="box-index">
                                                <img class="img-index" src="img/productImage/img-index5.jpg">
                                            </div>
                                            <div class="box-index">
                                                <img class="img-index" src="img/productImage/img13.jpg">
                                            </div>
                                            <div class="box-index">
                                                <img class="img-index" src="img/productImage/img3.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <h2 class="titulo-index">...y elegí tu destino</h2> -->
                                    <div class="container-card">
                                        <% for (let i=0; i < 12; i++) { %>
                                            <div class="card">
                                                <div class="card-overlay"></div>
                                                <img class="card-img img-index"
                                                    src="<%= `/img/productImage/${products[i].image}` %>" alt="">
                                                <div class="card-content">
                                                    <h4>
                                                        <%= products[i].name %>
                                                    </h4>
                                                    <p>
                                                        <%= products[i].description %>
                                                    </p>
                                                    <div class="cb-container">
                                                        <div class="button" id="button-2">
                                                            <div id="slide"></div>
                                                            <a href="/product/<%= products[i].id %>/detail">explorar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                    </div>
                                </div>

                                <a href="https://wa.link/1be0nx" class="btn-wsp" target="_blank">
                                    <i class="fa fa-whatsapp icono"></i>
                                </a>
                                <% if (!(user && user.category===1)) { %>
                                    <%- include("../partials/wrapper.ejs") %>
                                        <% } %>
                            </main>
                            <% if (!(user && user.category===1)) { %>
                                <%- include("../partials/footer.ejs") %>
                                    <% } %>
    </body>

</html>