<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
    <body>
        <main class="main-containerAdmin">
            <section class="data-boxAdmin">
                <div class="data-logoAdmin">
                    <a href="/">
                        <img class="data-logo" src="/img/logo.png" alt="DHTravel Logo">
                    </a>
                </div>
                <div class="register-formsAdmin">
                    <form class="formsAdmin" action="/product/<%= product.id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                        <p>
                            <input class="data-itemAdmin" type="text" name="name" id="name" value="<%= product.name %>"
                                placeholder="Nombre del producto">
                        </p>
                        <p>
                            <input class="data-itemAdmin" type="text" name="description" id="description" value="<%= product.description %>"
                                placeholder="Descripcion">
                        </p>
                        <p>
                            <input class="data-itemAdmin" type="file" name="image" multiple>
                        </p>
                        <p>
                            <input class="data-itemAdmin" type="text" name="origin" id="origin" value="<%= product.origin %>"
                                placeholder="Origen del viaje">
                        </p>
                        <p>
                            <input class="data-itemAdmin" type="text" name="destination" id="destination" value="<%= product.destination %>"
                                placeholder="Destino del viaje">
                        </p>
                        <p>
                            <input class="data-itemAdmin" type="text" name="person" id="person" value="<%= product.person %>"
                                placeholder="Numero de personas incluidas">
                        </p>
                        <p>
                        
                            <input class="data-itemAdmin" type="text" name="category" id="category" value="<%= product.category_id %>"

                                placeholder="Categoria">
                        </p>
                        <p>
                            <input class="data-itemAdmin" type="text" name="date" id="date" value="<%= product.date %>"
                                placeholder="Fecha de inicio">
                        </p>
                        <p>
                            <input class="data-itemAdmin" type="number" name="price" id="price" value="<%= product.price %>"
                                placeholder="Precio del producto">
                        </p>
                        <div class="botones-form-admin">
                        <p>
                            <button class="submit-b" type="submit">Editar Paquete</button>
                        </p>
                        <p>
                            <button class="submit-b" type="reset">Eliminar datos</button>
                        </p>
                    </div>
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>