<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
    <body>
        <main class="main-containerAdmin">
            <section class="data-boxAdmin">
                <div class="data-logoAdmin">
                    <a href="/">
                        <img class="data-logo" src="/img/logo.png" alt="DHTravel Logo">
                    </a>
                </div>
                <div class="register-formsAdmin">
                    <form class="formsAdmin" action="/product/create" method="POST" enctype="multipart/form-data">
                        <p>
                            <input class="data-itemAdmin" type="text" name="name" id="name"
                                placeholder="Nombre del producto" value="<%= locals.oldData ? oldData.name : null %>">
                            <% if (locals.errors && errors.name) { %>
                                <div class="validation-error">
                                    <%= errors.name.msg %>
                                </div>
                            <% } %>
                            <div class="name-error"></div>
                        </p>
                        <p>
                            <input type="text" class="data-itemAdmin-textarea" name="description" id="description" cols="30"
                                rows="10" placeholder=" Descripcion del producto" value="<%= locals.oldData ? oldData.description : null %>">
                            </input>
                            <% if (locals.errors && errors.description) { %>
                                <div class="validation-error">
                                    <%= errors.description.msg %>
                                </div>
                            <% } %>
                            <div class="description-error"></div>
                        </p>
                        <p>
                            <input class="data-itemAdmin" type="file" name="image" id='image' placeholder="Imagen de perfil" value="<%= locals.oldData ? oldData.image : null %>">
                            <% if (locals.errors && errors.image) { %>
                                <div class="validation-error">
                                    <%= errors.image.msg %>
                                </div>
                            <% } %>
                            <div class="image-error"></div>
                        </p>
                        <p>
                            <input class="data-itemAdmin" type="text" name="origin" id="origin" 
                                placeholder="Origen del viaje" value="<%= locals.oldData ? oldData.origin : null %>">
                            <% if (locals.errors && errors.origin) { %>
                                <div class="validation-error">
                                    <%= errors.origin.msg %>
                                </div>
                            <% } %>
                            <div class="origin-error"></div>
                        </p>
                        <p>
                            <input class="data-itemAdmin" type="text" name="destination" id="destination" 
                                placeholder="Destino del viaje" value="<%= locals.oldData ? oldData.destination : null %>">
                                <% if (locals.errors && errors.destination) { %>
                                    <div class="validation-error">
                                        <%= errors.destination.msg %>
                                    </div>
                                <% } %>
                                <div class="destination-error"></div>
                        </p>
                        <p>
                            <input class="data-itemAdmin" type="text" name="person" id="person" 
                                placeholder="Numero de personas incluidas" value="<%= locals.oldData ? oldData.person : null %>">
                                <% if (locals.errors && errors.person) { %>
                                    <div class="validation-error">
                                        <%= errors.person.msg %>
                                    </div>
                                <% } %>
                                <div class="person-error"></div>
                        </p>
                        <p>
                            <input class="data-itemAdmin" type="text" name="category" id="category"
                                placeholder="Categoria" value="<%= locals.oldData ? oldData.category : null %>">
                                <% if (locals.errors && errors.category) { %>
                                    <div class="validation-error">
                                        <%= errors.category.msg %>
                                    </div>
                                <% } %>
                                <div class="category-error"></div>
                        </p>
                        <p>
                            <input class="data-itemAdmin" type="text" name="date" id="date"
                                placeholder="Fecha de inicio" value="<%= locals.oldData ? oldData.date : null %>">
                                <% if (locals.errors && errors.date) { %>
                                    <div class="validation-error">
                                        <%= errors.date.msg %>
                                    </div>
                                <% } %>
                                <div class="date-error"></div>
                        </p>
                        <p>
                            <input class="data-itemAdmin" type="text" name="price" id="price"
                                placeholder="Precio del producto" value="<%= locals.oldData ? oldData.price : null %>">
                                <% if (locals.errors && errors.price) { %>
                                    <div class="validation-error">
                                        <%= errors.price.msg %>
                                    </div>
                                <% } %>
                                <div class="price-error"></div>
                        </p>
                        <div class="botones-form-admin">
                        <p>
                            <button class="submit-b" type="submit">Crear Paquete</button>
                        </p>
                        <p>
                            <button class="submit-b" type="reset">Eliminar datos</button>
                        </p>
                    </div>
                    <script src="/js/productValidate.js"></script>
                    </form>
                </div>
            </section>
            
        </main>
    </body>
</html>