<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
        <title>Productos</title>
</head>
<body class="body-detail">
    <main class="main-container-detail">
            <section class="detail-box">
                <div class="incluye">
                    <h3 class="h3-name-prodId"><%= product.name %></h3>
                </div>
                <div class="img-paq">
                    <img src="<%= product.image %>" alt="">
                </div>
                <section class="paquete">
                    <div class="incluye">
                        <h3>Incluye</h3>
                    </div>
                    <div class="main-h3">
                        <p class="p-prodId-desc">
                            Descripción: <%= product.description %>
                        </p>
                        <p class="p-prodId">
                            Origen: <%= product.origin %>
                        </p>
                        <p class="p-prodId">
                            Destino: <%= product.destination %>
                        </p>
                        <p class="p-prodId">
                            Personas: <%= product.person %>
                        </p>
                        <p class="p-prodId">
                            Categoria: <%= product.category %>
                        </p>
                        <p class="p-prodId">
                            Fecha: <%= product.date %>
                        </p>
                    </div>
                    <div class="precio">
                        <h3 class="h3-detail-prodId">Precio Total US$ <%= product.price %>
                        </h3>
                    </div>
                </section>
                <section class="comprar">
                    <div class="main-h4">
                        <p>
                            <button class="boton"><a href="/carrito">
                                    <h4>Comprar paquete</h4>
                                </a></button>
                        </p>
                    </div>
                </section>

            </section>
    </main>
</body>

</html>