<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/adminNav.ejs') %>
        <main class="main-containerAdmin">
            <section class="edit-form edit-admin">
                <div class="register-forms login-container p-edit-form">
                    <form class="login-form register" action="/product/<%= product.id %>/edit?_method=PUT" method="POST"
                        enctype="multipart/form-data">
                        <p class="form-group reg">
                            <input class="form-control1" type="text" name="name" id="name"
                                value="<%= product.name %>">
                            <label class="form-label">Name</label>
                        </p>
                        <p class="form-group reg">
                            <input class="form-control1" type="text" name="description" id="description"
                                value="<%= product.description %>">
                            <label class="form-label">Description</label>
                        </p>
                        <p class="form-group reg">
                            <input class="form-control1" type="file" name="image" multiple>
                            <label class="form-label">Product image</label>
                        </p>
                        <p class="form-group reg">
                            <input class="form-control1" type="text" name="origin" id="origin"
                                value="<%= product.origin %>">
                            <label class="form-label">Origin</label>
                        </p>
                        <p class="form-group reg">
                            <input class="form-control1" type="text" name="destination" id="destination"
                                value="<%= product.destination %>">
                            <label class="form-label">Destination</label>
                        </p>
                        <p class="form-group reg">
                            <select class="form-control1" name="category" id="category" >
                                <option value=""><%= product.category_id %></option>
                                <option value="1">Solteros</option>
                                <option value="2">Parejas</option>
                                <option value="3">Familiar</option>
                                <option value="4">Amigos</option>
                                <option value="5">Aventureros</option>
                                <option value="6">Negocios</option>
                            </select>
                            <label class="form-label">Category</label>
                        </p>
                        <p class="form-group date">
                            <input class="form-control1" type="text" name="person" id="person"
                                value="<%= product.person %>">
                            <label class="form-label">Persons includes</label>
                        </p>
                        <p class="form-group reg">
                            <input class="form-control1" type="text" name="date" id="date"
                                value="<%= product.date %>">
                            <label class="form-label">Date</label>
                        </p>
                        <p class="form-group reg">
                            <input class="form-control1" type="text" name="price" id="price"
                                value="<%= product.price %>">
                            <label class="form-label">Price</label>
                        </p>
                        <p class="btn-edit btn-2">
                                <button class="login-btn reg-btn pe-btn" type="submit">
                                    <h4>MODIFY PRODUCT</h4>
                                </button>
                                <button class="login-btn reg-btn pe-btn" type="reset">
                                    <h4>CLEAN DATA</h4>
                                </button>
                        </p>
                    </form>
                    <form class="useredit-btn" action="/product/<%= product.id %>/?_method=DELETE" method="POST"
                        enctype="multipart/form-data">
                        <input type="hidden" name="_method" value="delete">
                        <button class="login-btn reg-btn pe-btn pe-btn-del" type="submit">
                            <h4 class="">DELETE PRODUCT</h4>
                        </button>
                    </form>  
                </div>
            </section>
        </main>
</body>
</html>