<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body class="body-allProducts">
        <main class="allusers-container">
            <%- include('../partials/adminNav.ejs') %>
                <div class="container-card">
                        <div class="card admin-card">
                            <img src="<%= `/img/productImage/${product.image}` %>" alt="">
                            <div class="card-content admin-content">
                                <div class="card-info-title">
                                    <h4>
                                        Name: <%= product.name %>
                                    </h4>
                                </div>
                                <div class="card-info-description">
                                    <h4>Description: <%= product.description %>
                                    </h4>
                                </div>
                                <div class="card-info">
                                    <h4>Origin: <%= product.origin %>
                                    </h4>
                                </div>
                                <div class="card-info">
                                    <h4>Destination: <%= product.destination %>
                                    </h4>
                                </div>
                                <div class="card-info">
                                    <h4>Person include: <%= product.person %>
                                    </h4>
                                </div>
                                <div class="card-info">
                                    <h4>Date: <%= product.date %>
                                    </h4>
                                </div>
                                <div class="card-info">
                                    <h4>Price: $ <%= product.price %>
                                    </h4>
                                </div>
                                <div class="card-info">
                                    <h4>Category: <%= product.category_id %>
                                    </h4>
                                </div>
                                    <div class="cb-container btn1">
                                        <div class="button" id="button-2">
                                            <div id="slide"></div>
                                            <a href="/product/<%= product.id %>/edit">EDIT VALUES</a>
                                        </div>
                                    </div>
                                    <div class="cb-container btn2">
                                        <form class="button" id="button-2">
                                            <div id="slide"></div>
                                            <input type="hidden" name="_method" value="delete">
                                            <button class="admin-btn" type="submit">DELETE PRODUCT</button>
                                        </form>
                                    </div>
                            </div>
                        </div>
                </div>
        </main>
    </body>

</html>