<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body class="body-allProducts">
        <main class="allusers-container">
            <%- include('../partials/adminNav.ejs') %>
            <ul class="userinfo-container alluser-container">
                <% for(let i=0; i< user.length; i++) {%>
                    <li class="user-info">
                        <section class="edit-form udetail">
                            <div class="udetail-img">
                                <img src="<%= `/img/users/${user[i].image}` %> ">
                            </div>
                            <div class="udetail-info">
                                <div class="udetail-container">
                                    <h4 class="udetail-h4">ID: <%= user[i].id %>
                                    </h4>
                                </div>
                                <div class="udetail-container">
                                    <h4 class="udetail-h4">First name: <%= user[i].firstName %>
                                    </h4>
                                </div>
                                <div class="udetail-container">
                                    <h4 class="udetail-h4">Last name: <%= user[i].lastName %>
                                    </h4>
                                </div>
                                <div class="udetail-container">
                                    <h4 class="udetail-h4">Email: <%= user[i].email %>
                                    </h4>
                                </div>
                                <div class="udetail-container">
                                    <h4 class="udetail-h4">Category: <%= user[i].category %>
                                    </h4>
                                </div>
                            </div>
                            <div class="ub-container">
                                <div class="ub-button" id="ub-button-2">
                                    <div id="ub-slide"></div>
                                    <a href="/user/<%= user[i].id %>/edit">EDIT VALUES</a>
                                </div>
                            </div>
                        </section>
                    </li>
                    <%}%>
            </ul>
        </main>
    </body>

</html>