<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body class="body-login">
        <%- include("../partials/header.ejs") %>
            <main class="main-container">
                <!-- <video autoplay muted loop class="video-background">
            <source src="img/FarCryLoadingScreen.mp4" type="video/mp4">
        </video> -->
                <section class="onlogin">
                    <div class="data-logo-container">
                        <a href="/"><img class="data-logo" src="/img/logo.png" alt="DHTravel Logo"></a>
                    </div>
                    <div class="register-forms login-container">
                        <form class="login-form" action="/login" method="post">
                            <div class="form-group">
                                <input class="form-control" type="text" name="email" id="email" 
                                value="<%= locals.oldData ? oldData.email : null %>" >
                                <label class="form-label">Correo electronico</label>
                                <p>
                                    <a class="login-complement" href="#">Recuperá tu cuenta</a>
                                </p>
                                <% if (locals.errors && errors.email) { %>
                                    <div class="validation-error">
                                        <%= errors.email.msg %>
                                    </div>
                                <% } %>
                                <div class="email-error"></div>
                            </div>
                            <div class="form-group">
                                <input class="form-control"type="password" name="password" id="password" >
                                <label class="form-label">Contraseña</label>
                                <p>
                                    <a class="login-complement" href="#" target="_blank">Olvidaste tu contraseña</a>
                                </p>
                                <% if (locals.errors && errors.password) { %>
                                    <div class="validation-error">
                                        <%= errors.password.msg %>
                                    </div>
                                <% } %>
                                <div class="password-error"></div>
                            </div>
                            <div class="remember-container">
                                <input type="checkbox" class="remember-button" name="rememberUser">
                                <h4>Recordar mi usuario</h4>
                            </div>
                            <p>
                                <button class="login-btn" type="submit">
                                    <h4>LOGIN</h4>                               
                                </button>
                            </p>
                            <script src="/js/loginValidation.js"></script>
                        </form>
                    </div>
                </section>
            </main>
            <%- include("../partials/footer.ejs") %>

    </body>

</html>