<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
	
    <div class="">
		<div class="">
			<div class="">
				<h2><%= user.firstName %></h2>
				<img src="/img/users/<%= user.image %> ">
				<div class="">
					<%= user.email %> 
					<button><h4><a href="/user/<%= user.id %>/edit"><h4>editar datos</h4></a></h4></button>
					<form action="/user/<%= user.id %>/?_method=DELETE" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="_method" value="delete"> 
                        <button type="submit"><h4>Eliminar datos</h4></button>
                    </form>
				</div>
				</div>
			</div>
		</div>
	</div>
    
</body>
</html>