<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/adminNav.ejs') %>
            <main class="main-containerAdmin">

                <!-- <video class="video-background" autoplay loop muted>
                    <source src="/img/video-back.mp4" type="video/mp4">
                </video> -->
                
                <section class="edit-form">
                    <div class="register-forms login-container ue-form">
                        <form class="login-form register" action="/user/<%= user.id %>/edit?_method=PUT" method="POST"
                            enctype="multipart/form-data">
                            <p class="form-group reg">
                                <input class="form-control1" type="text" name="firstName" id="firstName"
                                    value="<%= user.firstName %>">
                                <label class="form-label">First name</label>
                            </p>
                            <p class="form-group reg">
                                <input class="form-control1" type="text" name="lastName" id="lastName"
                                    value="<%= user.lastName %>">
                                <label class="form-label">Last name</label>
                            </p>
                            <p class="form-group reg">
                                <input class="form-control1" type="file" name="image" multiple>
                                <label class="form-label">Profile image</label>
                            </p>
                            <p class="form-group reg">
                                <input class="form-control1" type="text" name="email" id="email" value="<%= user.email %>">
                                <label class="form-label">email</label>
                            </p>
                            <p class="form-group reg">
                                <select class="form-control1" name="category" id="category" >
                                    <option value=""><%= user.category  %></option>
                                    <option value="0">Guest</option>
                                    <option value="1">Admin</option>
                                </select>
                                <label class="form-label">Category</label>
                            </p>
                            <p class="btn-edit ue-cont">
                                <button class="login-btn reg-btn ue-btn" type="submit">
                                    <h4>MODIFY USER</h4>
                                </button>
                                <button class="login-btn reg-btn ue-btn" type="reset">
                                    <h4>CLEAN DATA</h4>
                                </button> 
                            </p>
                        </form>
                        <form class="delete-btn" action="/user/<%= user.id %>/?_method=DELETE" method="POST"
                            enctype="multipart/form-data">
                            <input type="hidden" name="_method" value="delete">
                            <button class="login-btn reg-btn ue-btn pe-btn pe-btn-del" type="submit">
                                <h4 class="">DELETE USER</h4>
                            </button>
                        </form>
                    </div>
                </section>
            </main>
    </body>

</html>