<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

	<body class="body-productId">
		<main class="main-container-detail">
			<section class="productId-box">

				<h4 class="name-productId">
					<%= user.firstName %>
				</h4>
				<div class="img-paq">

					<img src="/img/users/<%= user.image %> ">
				</div>
				<h4 class="h4-productId">
					<span>Email:</span>
					<%= user.email %>
				</h4>
				<div class="botones-productId">
					<div class="div-botones">

						<button class="botton-productId">
							<h4><a href="/user/<%= user.id %>/edit">
								<h4 class="h4-botton">Editar Datos</h4>
								</a></h4>
						</button>
					</div>
					<div class="div-botones">

						<form action="/user/<%= user.id %>/?_method=DELETE" method="POST" enctype="multipart/form-data">
							<input type="hidden" name="_method" value="delete">
							<button class="botton-productId" type="submit">
								<h4 class="h4-botton">Eliminar Datos</h4>
							</button>
						</form>
					</div>

				</div>
			</section>
		</main>



	</body>

</html>