<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

	<body class="body-productId">
		<%- include('../partials/adminNav.ejs') %>
			<main class="main-containerAdmin udetail-main">
				<section class="edit-form udetail">
					<div class="udetail-img">
						<img src="/img/users/<%= user.image %> ">
					</div>
					<div class="udetail-info">
						<div class="udetail-container">
							<h4 class="udetail-h4">First name: <%= user.firstName %>
							</h4>
						</div>
						<div class="udetail-container">
							<h4 class="udetail-h4">Last name: <%= user.lastName %>
							</h4>
						</div>
						<div class="udetail-container">
							<h4 class="udetail-h4">Email: <%= user.email %>
							</h4>
						</div>
						<div class="udetail-container">
							<h4 class="udetail-h4">Category: <%= user.category %>
							</h4>
						</div>
					</div>
					<div class="udetail-btns">
						<div class="udetail-container">
							<button class="login-btn udetail-btn">
								<a href="/user/<%= user.id %>/edit">
									<h4 class="">EDIT VALUES</h4>
								</a>
							</button>
						</div>
						<div class="udetail-container">
							<form action="/user/<%= user.id %>/?_method=DELETE" method="POST" enctype="multipart/form-data">
								<input type="hidden" name="_method" value="delete">
								<button class="login-btn udetail-btn" type="submit">
									<h4 class="">DELETE PROFILE</h4>
								</button>
							</form>
						</div>
					</div>
				</section>
			</main>
	</body>

</html>