<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/adminNav.ejs') %>
            <main class="main-containerAdmin u-create-main">
                <section class="on-register u-create-sec">
                    <div class="register-forms login-container">
                        <form class="login-form register" action="/register" method="POST"
                            enctype="multipart/form-data">
                            <div class="form-group reg">
                                <input class="form-control" type="text" name="firstName" id="firstName"
                                    value="<%= locals.oldData ? oldData.firstName : null %>">
                                <label class="form-label">Nombres</label>
                                <% if (locals.errors && errors.firstName) { %>
                                    <div class="validation-error">
                                        <%= errors.firstName.msg %>
                                    </div>
                                    <% } %>
                                        <div class="firstName-error"></div>
                            </div>
                            <div class="form-group reg">
                                <input class="form-control" type="text" name="lastName" id="lastName"
                                    value="<%= locals.oldData ? oldData.lastName : null %>">
                                <label class="form-label">Apellidos</label>
                                <% if (locals.errors && errors.lastName) { %>
                                    <div class="validation-error">
                                        <%= errors.lastName.msg %>
                                    </div>
                                    <% } %>
                                        <div class="lastName-error"></div>
                            </div>
                            <div class="form-group reg">
                                <input class="form-control" type="text" name="email" id="email"
                                    value="<%= locals.oldData ? oldData.email : null %>">
                                <label class="form-label">Correo electronico</label>
                                <% if (locals.errors && errors.email) { %>
                                    <div class="validation-error">
                                        <%= errors.email.msg %>
                                    </div>
                                    <% } %>
                                        <div class="email-error"></div>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="file" name="image" id="image"
                                    value="<%= locals.oldData ? oldData.image : null %>">
                                <label class="form-label">Imagen de perfil</label>
                                <% if (locals.errors && errors.image) { %>
                                    <div class="validation-error">
                                        <%= errors.image.msg %>
                                    </div>
                                    <% } %>
                                        <div class="image-error"></div>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="password" id="password">
                                <label class="form-label">Contraseña</label>
                                <% if (locals.errors && errors.password) { %>
                                    <div class="validation-error">
                                        <%= errors.password.msg %>
                                    </div>
                                    <% } %>
                                        <div class="password-error"></div>
                            </div>
                            <p class="form-group reg prd">
                                <select class="form-control" id="category" name="category">
                                    <option value=""></option>
                                    <option value="0" <% if(locals.oldData && locals.oldData.category==='0' ) { %>
                                        selected <% } %>>Guest</option>
                                    <option value="1" <% if(locals.oldData && locals.oldData.category==='1' ) { %>
                                        selected <% } %>>Admin</option>
                                </select>
                                <label class="form-label" for="category">Category</label>
                                <% if (locals.errors && errors.category) { %>
                                    <div class="validation-error">
                                        <%= errors.category.msg %>
                                    </div>
                                    <% } %>
                                        <div class="category-error p-error"></div>
                            </p>
                            <div class="u-create-btn">
                                <p>
                                    <button class="login-btn reg-btn" type="submit">
                                        <h4>CREATE NEW USER</h4>
                                    </button>
                                </p>
                                <p>
                                    <button class="login-btn reg-btn " type="reset">
                                        <h4>CLEAR FIELDS</h4>
                                    </button>
                                </p>
                            </div>
                            
                        </form>
                    </div>
                </section>

                <script src="/js/registerValidation.js"></script>
            </main>
    </body>

</html>